/****************************************************************************************//**
* \file admin_styles.css                                                                    *
* \brief The CSS for the BMLTPlugin class (Admin options).                                  *
* \version 2.1.9                                                                            *
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://magshare.org/bmlt
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
********************************************************************************************/

.BMLTPlugin_Admin_h1,
.BMLTPlugin_toolbar_line,
.BMLTPlugin_toolbar_line_bottom,
.BMLTPlugin_Message_bar_success,
.BMLTPlugin_Message_bar_fail,
.BMLTPlugin_toolbar_line_map
{
    text-align:center;
}

.BMLTPlugin_Message_bar_div
{
    border:1px solid #6cf;
    margin-right: 12px;
    padding: 8px;
    background:white;
}

.BMLTPlugin_Map_Div
{
    border-top:1px solid #6cf;
}

.BMLTPlugin_toolbar_line_map
{
    margin-top:0px;
    padding-top:20px;
    border-left:1px solid #6cf;
    border-right:1px solid #6cf;
    border-bottom:1px solid #6cf;
}

.BMLTPlugin_toolbar_line_map
{
    margin-right: 12px;
}

.BMLTPlugin_option_fieldset
{
    border-left:1px solid #6cf;
    border-right:1px solid #6cf;
    border-top:1px solid #6cf;
    margin:0;
    margin-top:8px;
    margin-right: 12px;
    padding: 8px;
}

.BMLTPlugin_toolbar_line_bottom
{
    margin: 0;
    border-left:1px solid #6cf;
    border-right:1px solid #6cf;
    margin-right: 12px;
    padding: 8px;
}

.BMLTPlugin_option_fieldset .BMLTPlugin_toolbar_line
{
    margin-right: 0px;
}

.BMLTPlugin_create_button
{
    margin-left:auto;
    margin-right:auto;
}

#BMLTPlugin_sheet_form.BMLTPlugin_sheet_form
{
    margin:0;
}

.BMLTPlugin_toolbar_button_line_left,
.BMLTPlugin_toolbar_button_line_right
{
    text-align: center;
    width: 20%
}

.BMLTPlugin_toolbar_button_line_left
{
    float: left;
}

.BMLTPlugin_toolbar_button_line_right
{
    float: right;
}

.BMLTPlugin_legend
{
    margin: 8px;
    padding-left:4px;
    padding-right:4px;
    height: 24px;
    line-height:24px;
}

.BMLTPlugin_Message_bar_success
{
    color:green;
}

.BMLTPlugin_Message_bar_fail
{
    color:red;
}

.BMLTPlugin_Message_bar_success,
.BMLTPlugin_Message_bar_fail
{
    margin:0;
    padding:0;
}


.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_delete_button
{
    background-color:#f96;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_delete_button:hover
{
    background-color:red;
    color:white;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_create_button
{
    background-color:#6f6;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_create_button:hover
{
    background-color:green;
    color:white;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_toolbar_button_save_disabled,
.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_toolbar_button_save_disabled:hover
{
    border:1px solid #999;
    background-color:#ccc;
    color:#999;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_toolbar_button_save_enabled
{
    background-color:#c9f;
    color:#333;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_toolbar_button_save_enabled:hover
{
    background-color:#939;
    color:white;
}

.BMLTPlugin_option_sheet_line_div
{
    clear:both;
    vertical-align:middle;
    height:20px;
    line-height: 20px;
    margin-top:4px;
    margin-bottom:4px;
}

.BMLTPlugin_additional_css_line
{
    vertical-align:top;
    height:auto;
}

.BMLTPlugin_option_sheet_line_div label
{
    width: 200px;
    text-align: right;
    font-weight:bold;
    margin-right:8px;
    display:block;
    float:left;
    color: #36c;
}

.BMLTPlugin_option_sheet_text_div,
.BMLTPlugin_option_sheet_Version,
.BMLTPlugin_option_sheet_Server_Lang_Throbber
{
    color: #36c;
    font-style:italic;
    display:inline;
    margin-left:4px;
}

.BMLTPlugin_option_sheet_Server_Lang_Throbber
{
    color: red;
    line-height:24px;
    vertical-align:center;
    height:24px;
}

.BMLTPlugin_lang_select,
.BMLTPlugin_option_sheet_Server_Lang_Throbber,
.BMLTPlugin_lang_button
{
    display: block;
    float:left;
}

.BMLTPlugin_option_sheet_Server_Lang_Throbber,
.BMLTPlugin_lang_button
{
    margin-left:8px;
}

.BMLTPlugin_option_sheet_line_root_server_text,
.BMLTPlugin_option_sheet_line_new_search_text,
.BMLTPlugin_option_sheet_line_gkey_text,
.BMLTPlugin_option_sheet_line_name_text
{
    color: #36c;
    float:left;
    border:1px solid #6cf;
    margin-right:4px;
}

.BMLTPlugin_option_sheet_line_name_text
{
    width: 300px;
}

.BMLTPlugin_option_sheet_line_root_server_text,
.BMLTPlugin_option_sheet_line_new_search_text,
.BMLTPlugin_option_sheet_line_gkey_text
{
    width: 600px;}

.BMLTPlugin_option_sheet_Test_Button_div
{
    vertical-align:middle;
    height:20px;
    line-height:24px;
}

.BMLTPlugin_option_sheet_Test_Button_div image
{
    display:block;
    float: left;
    margin-top:auto;
    margin-bottom:auto;
}

.BMLTPlugin_option_sheet_Test_Button_div input
{
    float:left;
}

.BMLTPlugin_option_sheet_Test_Button_div input,
.BMLTPlugin_toolbar_line_bottom input,
.BMLTPlugin_lang_button
{
    padding-top:2px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
    border: 1px solid #36c;
}

.BMLTPlugin_option_sheet_BAD,
.BMLTPlugin_option_sheet_OK,
.BMLTPlugin_option_sheet_NEUT
{
    width: 16px;
    height:24px;
    float:left;
    margin-left:8px;
}

.BMLTPlugin_option_sheet_BAD,
.BMLTPlugin_option_sheet_OK
{
    background-position: center center;
    background-repeat: no-repeat;
}

.BMLTPlugin_option_sheet_BAD
{
    background-image:url(admin_images/RedX.gif);
}

.BMLTPlugin_option_sheet_OK
{
    background-image:url(admin_images/GreenBall.gif);
}

.BMLTPlugin_Map_Div
{
    height:640px;
    width:100%;
    margin-top:8px;
    margin-left:auto;
    margin-right:auto;
}

.BMLTPlugin_option_sheet .BMLTPlugin_option_id_h2,
.BMLTPlugin_map_label_h2
{
    text-align:center;
    color: #36c;
    margin: 0;
    padding: 0;
}

.BMLTPlugin_option_sheet .BMLTPlugin_option_id_h2
{
    margin-bottom: 8px;
    margin-top: 4px;
}

.BMLTPlugin_map_label_h2
{
    margin-top: 8px;
    margin-bottom: 4px;
}

.BMLTPlugin_option_sheet_old_settings_fieldset,
.BMLTPlugin_option_sheet_mobile_settings_fieldset
{
    clear:both;
    border:1px solid #6cf;
    margin-top:8px;
    width:auto;
    margin-left:20px;
    margin-right:20px;
}

.BMLTPlugin_gmap_caveat_legend
{
    clear:both;
    margin-left:20px;
    padding-left:4px;
    padding-right:4px;
    font-style:italic;
    font-weight:bold;
    color: #36c;
}

.BMLTPlugin_special_check
{
    margin-top:8px;
    margin-left:180px;
    display:block;
    float:left;
}

.BMLTPlugin_option_sheet .BMLTPlugin_special_check_label
{
    margin-left:4px;
    width:auto;
    clear: none;
}

.BMLTPlugin_option_sheet .BMLTPlugin_special_check_div
{
    margin-top:4px;
    line-height:16px;
    height:20px;
    vertical-align:middle;
}

.BMLTPlugin_option_sheet_additional_css_textarea
{
    width:650px;
    height:300px;
    background-color:white;
    border:1px solid #6cf;
    font-family:monospace;
    color:#039;
}